/*Google font*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    font-family: 'Josefin Sans', sans-serif ;
    font-weight: 400;
    color: #ffffff;
    overflow-x: hidden;
    background-color: #003637;
}

.wrapper img{
    width: 150px;
}